<div class="jumbotron-mt-4">
    <h1 class="display-4">Notes app with Nodejs + bootstrap desing <br> by Ramesh</h1>
    <p class="lead">Esta pagina es de prueba y esta hecha para probar un register y login .</p>
    <hr class="my-4">
    <a href="/users/signup" class="btn btn-dark">Registrarse</a>
    <a href="/users/login" class="btn btn-dark">Ingresar</a>
</div>
{{!-- Create By @Silent_snake27 with other free aspects --}}